rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /surveyResponses/{documentId} {
      allow read: if false;
      allow update, delete: if false;
      allow create: if request.resource.data.createdAt is string;
    }

    match /surveyConfig/{documentId} {
      allow read: if true;
      allow write: if false;
    }
  }
}
